/*
  ========================================
  $Main
  ========================================
*/

/* 1...............................Base */
/* 2..............................Utils */
/* 3.............................Layout */
/* 4.........................Components */
/* 5..............................Pages */
/* 6.............................Themes */



/*
  ========================================
  $Base
  ========================================
*/

/* $Variables
   ==================================== */

:root {

/* Colors: default--theme--dark */
  --c-brand: #a5b4fc;     /* Highlight & headings */
  --c-main: #f9f8ff;      /* body */
  --b-main: #1f2039;      /* body */
/* Colors: theme--light */
  --c-t--light:#242424;   /* header & footer */
  --b-t--light:#fff;      /* header & footer */

}



/* $Reset & Normalize
   ==================================== */

html {
  box-sizing: border-box;
  font-size: 100%;
  text-size-adjust: none;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  color: var(--c-main);
  background-color: var(--b-main);  
} 


/* Inherit font on Form Elements for a Better Mobile Experience */
h1,
input,
button,
select,
textarea {
  font: inherit;
}

a,
button {
  all: unset;
  cursor: pointer;
}

a:link,
a:visited {
  color: currentColor;  /* A vérifier */
/*  color: var(--c-main);*/
}

/* Remove the outline on focused links */
a:hover,
a:active {
  color: var(--c-brand);
  outline-width: 0;     /* A vérifier */
}

/* Set font-size on Form Elements for a Better Mobile Experience
   To avoid mobile browsers from zooming in on HTML form elements
   when a <select> drop-down is tapped, add font-size to the selector
*/
input[type="text"],
input[type="number"],
select,
textarea {
  font-size: 16px;
}

ol, ul, menu {
  list-style: none;
}


/* Use SVG for icons */
.logo {
  background: url("logo.svg");
}

/* Maintain accessibility of SVG icon-only buttons for sighted users */
.no-svg .icon-only::after {
  content: attr(aria-label);
}


/* Style broken images */
img,
img::before,
img::after {
  display: block;
  font: inherit;
  max-width: 100%;
  vertical-align: middle;
  object-fit: cover;
  position: relative;
  text-align: center;
}

img::before {
  content: "We're sorry, the image below is broken :(";
}

img::after {
  content: "(url: " attr(src) ")";
}


/* Equal-width table cells */
.calendar {
  table-layout: fixed;
}

/* Hide autoplay videos that aren't muted */
video[autoplay]:not([muted]) {
  display: none;
}

/* Use Pointer Events to Control Mouse Events
   Pointer events allow you to specify how the mouse interacts
   with the element it's touching.
   To disable the default pointer event on a button */
button:disabled {
  opacity: .5;
  pointer-events: none;
}

/* Set display: none on line reaks used as spacing
   prevent CMS users from using extra line breaks for spacing: */
br + br {
  display: none;
}

/* removes spacing between cells in tables */
table {
    border-collapse: collapse;
}

P {
  text-align: justify;
}



/* $Typography rules
   ==================================== */

@font-face {
  font-family: "Manrope";
  src:
    local("Manrope Regular"),
    url("../assets/fonts/Manrope-Regular.otf");
}

@font-face {
  font-family: "Montserrat";
  src:
    local("Montserrat-Regular"),
    url("../assets/fonts/Montserrat-Regular.ttf");
}



/* Manrope

small-notes / pricing notes
color: #F9F8FF;
font-family: Manrope;
font-size: 0.625rem;	=> 0.75rem / 12px
font-style: normal;
font-weight: 400;
line-height: normal;

p--dark page-about
color: #F9F8FF;
font-family: Manrope;
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: normal;

h-services--dark page-about
color: #F9F8FF;
font-family: Manrope;
font-size: 1.25rem;
font-style: normal;
font-weight: 400;
line-height: normal;

h--light / portfolio-page > paysages
color: #000;
font-family: Manrope;
font-size: 1.875rem;
font-style: normal;
font-weight: 400;
line-height: normal;

Nav--light
color: #242424;
font-family: Manrope;
font-size: 1.125rem;
font-style: normal;
font-weight: 400;
line-height: normal;

label form
color: #F9F8FF;
font-family: Manrope;
font-size: 1.125rem;
font-style: normal;
font-weight: 400;
line-height: normal;

p--dark
color: #F9F8FF;
font-family: Manrope;
font-size: 1.25rem;
font-style: normal;
font-weight: 400;
line-height: normal;


*/

/* Montserrat


h1
color: #A5B4FC;
font-family: Montserrat;
font-size: 3.4375rem;
font-style: normal;
font-weight: 400;
line-height: normal;


color: #A5B4FC;
font-family: Montserrat;
font-size: 3.4375rem;
font-style: normal;
font-weight: 400;
line-height: normal;


h2--light
color: #1F2039;
text-align: center;
font-family: Montserrat;
font-size: 2.1875rem;
font-style: normal;
font-weight: 400;
line-height: normal;

h2--dark / page-pricing > studio pro
color: #A5B4FC;
text-align: center;
font-family: Montserrat;
font-size: 2.1875rem;
font-style: normal;
font-weight: 400;
line-height: normal;

h3--dark / pricing items
color: #A5B4FC;
font-family: Montserrat;
font-size: 1.25rem;
font-style: normal;
font-weight: 400;
line-height: normal;

button
color: #FFF;
font-family: Montserrat;
font-size: 1.0625rem;			/*!
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: uppercase;

harmoniser tous les paragraphes à 1rem
1.25 pour les titres de tableau / menu

titre tableau tarifs
color: #FFF;
font-family: Montserrat;
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: normal;


*/




:root {
/* Text */
  --font:      'Manrope', sans-serif;
  --font-size-s: clamp(0.8rem, 0.17vw + 0.76rem, 0.89rem);
  --font-size-p: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
  --font-size-h4: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
  --font-size-h3: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
  --font-size-h2: clamp(1.95rem, 1.56vw + 1.56rem, 2.81rem);
  --font-size-h1: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
  --font-size-b: clamp(3.05rem, 3.54vw + 2.17rem, 5rem);

  --line-height-big: 3.5;             /* 56px */
  --line-height-bigger: 2.25;         /* 36px */
  --line-height: 1.6;                 /* 24px */

}

body {
  font-family: var(--font);
  font-size: var(--f-size-p);
  font-weight: 300;
}
.heading-1  {font-size: var(--f-size-h1);}
.heading-2  {font-size: var(--f-size-h2);}
.heading-3  {font-size: var(--f-size-h3);}
.heading-4  {font-size: var(--f-size-h4);}
.t--small   {font-size: var(--f-size-s);}
.t--big     {font-size: var(--f-size-b);}




/*
  ========================================
  $Utils
  ========================================
*/

/* $Functions
   ==================================== */


/* $Mixins
   ==================================== */


/* $Helpers
   ==================================== */

.flex--1 {flex: 1;}
.flex--2 {flex: 2;}
.flex--3 {flex: 3;}
.flex--4 {flex: 4;}
.flex--5 {flex: 5;}

/*
  ========================================
  $Layout
  ========================================
*/


/* $Grid system
   ==================================== */

/*

3 colonnes
gutters min max 20px 50px
nav grid center auto



/* nav (header / footer)
.screen--large {
	padding: 0 3rem;
}

.scren--main {
	padding: min 2.10rem max 12.5rem;
}

/* contact-form
.screen--inner {
	min-width: 15.8125rem;
	max-width: 32.8125rem;
}


portfolio__item
with min: 19rem;



grid--full 	header--d - footer--d
padding-left: 3rem;
padding-right:4.5rem;


section-about--m
padding-left: 2.75rem;
padding-right:2.75rem;
	--d: 12.38rem;
	+ padding

section-projects--m
padding-left: 2.19rem;
padding-right:2.19rem;
	--d: 13.38rem;
	gap: 1rem;


section-contact--m
padding-left: 3.81rem;
padding-right:3.81rem;
	--d: centré;
	width:32.8125rem
	-gap: 1.20rem;

section-pricing--m
padding-left: 3rem;
padding-right:3.06rem;

page-pricing--d
padding-left: 12.5rem;
padding-right:12.5rem;
container: 65rem;
*/


.grid__container {}
  .grid__item {}
    .grid__item--small {}
    .grid__item--big {}

/* Tests à faire sur la gestion du padding
.card {
  --spacing: 1.2rem;
  padding: var(--spacing);
  margin-bottom: var(--spacing);
}

:root {
  --responsive-padding: 1rem;
}

@media (min-width: 576px) {                             
  :root {
    --responsive-padding: 2rem;
  }
}

.foo {
  padding: var(--responsive-padding);
}


:root {
  --small-spacing: 0.5rem;
  --large-spacing: 1rem;
  --large-font-size: 2rem;
}

@media (min-width: 576px) {
  :root {
    --small-spacing: 1rem;
    --large-spacing: 2rem;
    --large-font-size: 3rem;
  }
}

.post {
  padding: var(--small-spacing) var(--large-spacing);
  margin: var(--small-spacing) auto  var(--large-spacing);
}

*/

/*



/* $Header
   ==================================== */

.section-header {
}
  .section-header__headline {}

.section-header--sticky {
  position: sticky;
  top: 0;
}


/* $Footer
   ==================================== */

.section-footer {
}
  .section-footer__headline {}


/* $Sidebar
   ==================================== */

.section-sidebar {}


/* $Forms
   ==================================== */

.panel-form {}


/*
  ========================================
  $Components
  ========================================
*/


/*.panel {}
  .panel__headline {}

/* Card
.card {}
  .card__container {}
  .card__details {}
  .card__headline {}
  .card__subhead {}
  .card__supporting-text {}
  .card__image {}
  .card__button {}
  .card__link {}
/* Used for: feature-list ; team ; pricing ; location */

/* Revoir les dimensions précises et créer des helpers : en vw ?
.card--1-3 {width: 33%;}
.card--3-1 {width: 66%;}*/



/* $Buttons
   ==================================== */





/* $Carousel
   ==================================== */

.carousel {}
  .carousel__container {}
  .carousel__item {}
    .carousel__item--small {}
    .carousel__item--medium {}
    .carousel__item--large {}

/* Implement CSS-only sliders using max-height with overflow hidden */
.slider {
  max-height: 200px;
  overflow-y: hidden;
  width: 300px;
}

.slider:hover {
  max-height: 600px;
  overflow-y: scroll;
}


/* $Menu
   ==================================== */

.menu {}
  .menu__container {}
  .menu__list-item {}


/* $Cover (Hero)
   ==================================== */

.panel-hero {}
  .hero__container {}
  .hero__headline {}
  .hero__subhead {}
  .hero__supporting-text {}
  .hero__image {}
  .hero__button {}
  .hero__link {}


/* $Dropdown
   ==================================== */


/* $Navigation
   ==================================== */

/*
color: #242424;
font-family: Manrope;
font-size: 1.125rem;
font-style: normal;
font-weight: 400;
line-height: normal;

*/


/* Appbar */
.appbar {}
  /* .appbar__container {} */
  .appbar__logo {}    /* or appbar__brand */
  .appbar__icon {}
  .appbar__toggler {}
  .appbar__label {}
    .appbar__label:link {}
    .appbar__label:visited {}
    .appbar__label:hover {}
    .appbar__label:active {}

/*ou dropdown-menu ou mega-menu*/
.mega-dropdown {}



/* $List
   ==================================== */

.list {}
  .list__container {}
  .list__headline {}
  .list__supporting-text {}
  .list__image {}
  .list__icon {}
  .list__avatar {}


/* $Text field
   ==================================== */

.text-field {}
  .text-field__container {}
  .text-field__icon {}
  .text-field__label-text {}
  .text-field__input-text {}
  .text-field__supporting-text {}


/* $Search bar
   ==================================== */

.searchbar {}
  .searchbar__container {}
  .searchbar__icon {}
  .searchbar__label-text {}
  .searchbar__input-text {}
  .searchbar__supporting-text {}


/* $CTA
   ==================================== */

.panel-cta {}
  .panel-cta__headline {}
  .panel-cta__link {}
    .panel-cta__link:link {}
    .panel-cta__link:visited {}
    .panel-cta__link:hover {}
    .panel-cta__link:active {}


/* $Dropdown
   ==================================== */

.panel-feature {}
  .card__image {}
  .card__headline {}
  .card__subhead {}
  .card__supporting-text {}


/* $Social media
   ==================================== */

.panel-socials {}
  .card-social {}
    .card-social:link {}
    .card-social:visited {}
    .card-social:hover {}
    .card-social:active {}
    .card-social__icon {}


Instagram
<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
  <path fill-rule="evenodd" clip-rule="evenodd" d="M24.0725 0H7.3675C5.41398 0.0019494 3.54105 0.778514 2.15994 2.15994C0.778514 3.54112 0.00193381 5.41398 0 7.3675V24.0725C0.00194941 26.026 0.778514 27.8989 2.15994 29.2801C3.54112 30.6615 5.41398 31.4381 7.3675 31.44H24.0725C26.026 31.438 27.899 30.6615 29.2801 29.2801C30.6615 27.8989 31.4381 26.026 31.44 24.0725V7.3675C31.4381 5.41398 30.6615 3.54105 29.2801 2.15994C27.8989 0.778514 26.026 0.00193381 24.0725 0ZM28.9947 24.0722C28.9957 25.3781 28.4774 26.6306 27.5541 27.5538C26.6308 28.477 25.3783 28.9953 24.0725 28.9944H7.3675C6.06162 28.9954 4.80914 28.4771 3.8859 27.5538C2.96266 26.6305 2.44434 25.378 2.44527 24.0722V7.36719C2.4443 6.06131 2.9626 4.80882 3.8859 3.88558C4.8092 2.96235 6.06168 2.44402 7.3675 2.44496H24.0725C25.3784 2.44398 26.6309 2.96228 27.5541 3.88558C28.4774 4.80889 28.9957 6.06137 28.9947 7.36719V24.0722ZM7.68567 15.6988C7.68567 18.5693 9.21718 21.2217 11.7031 22.6567C14.1889 24.092 17.2518 24.092 19.7378 22.6567C22.2238 21.2215 23.7552 18.5691 23.7552 15.6988C23.3149 5.01603 8.12633 5.01291 7.68592 15.6988H7.68567ZM10.1589 15.6988C10.1589 13.7118 11.2189 11.876 12.9398 10.8825C14.6604 9.88904 16.7803 9.88904 18.5009 10.8825C20.2217 11.876 21.2817 13.7118 21.2817 15.6988C20.9778 23.094 10.4805 23.0978 10.1592 15.6988H10.1589ZM23.4655 5.99849C23.7277 5.73654 24.083 5.58936 24.4536 5.58936C24.8243 5.58936 25.1796 5.73654 25.4418 5.99849C25.7037 6.26067 25.8509 6.61596 25.8509 6.9866C25.8509 7.35724 25.7037 7.71252 25.4418 7.97472C25.1796 8.23667 24.8243 8.38385 24.4536 8.38385C24.083 8.38385 23.7277 8.23667 23.4655 7.97472C23.2036 7.71253 23.0564 7.35724 23.0564 6.9866C23.0564 6.61596 23.2036 6.26068 23.4655 5.99849Z" fill="#1F2039"/>
</svg>
#1F2039

Twitter
<svg xmlns="http://www.w3.org/2000/svg" width="37" height="31" viewBox="0 0 37 31" fill="none">
  <path d="M32.9541 7.50926L32.7448 7.66662L32.755 7.92828C32.7664 8.22345 32.7724 8.51889 32.7724 8.81566C32.7724 19.5033 24.8734 30.5 11.7046 30.5C8.09812 30.5 4.57627 29.5525 1.44272 27.7473C1.62066 27.7535 1.79861 27.7566 1.97611 27.7566C5.29609 27.7566 8.44128 26.6997 11.0985 24.6975L12.1399 23.9128L10.8408 23.8C8.12994 23.5648 5.76885 21.7702 4.7593 19.1574C5.49872 19.2492 6.2426 19.2336 6.96548 19.1127L7.03522 18.1433C4.19904 17.2367 2.15576 14.5762 1.98275 11.4813C2.73584 11.8426 3.54411 12.0798 4.3699 12.182L6.08403 12.3942L4.74833 11.2991C3.03954 9.89819 2.03229 7.77103 2.03229 5.49007C2.03229 4.3342 2.29375 3.19675 2.79081 2.17275C6.6061 6.77508 12.0966 9.60493 17.9625 9.97747L18.6076 10.0184L18.4851 9.38371C18.3932 8.90775 18.3464 8.41614 18.3464 7.91936C18.3464 3.81506 21.5898 0.5 25.5457 0.5C27.4923 0.5 29.3779 1.32332 30.7307 2.76607L30.9229 2.9711L31.198 2.91343C32.5975 2.62007 33.9417 2.13082 35.2059 1.45607C34.7077 2.58968 33.9381 3.57727 32.967 4.32831L33.361 5.216C34.2438 5.05793 35.1082 4.82232 35.9461 4.5111C35.0891 5.65293 34.0862 6.65817 32.9541 7.50926ZM1.49377 11.2247L1.49662 11.2263C1.49567 11.2258 1.49471 11.2252 1.49377 11.2247ZM2.48459 1.79499L2.4846 1.79501L2.48459 1.79499Z" fill="white" stroke="#1F2039"/>
</svg>
fill: #FFF;
stroke-width: 1px;
stroke: #1F2039;



/* $Sitemap
   ==================================== */

.sitemap-links {}
  .sitemap-links__headline {}
  .sitemap-links__link:link {}  /* ou label */
  .sitemap-links__link:visited {}
  .sitemap-links__link:hover {}
  .sitemap-links__link:active {}


/* $Dropdown
   ==================================== */

.customer-logos {}
  .customer-logos__container {}
  .customer-logos__headline {}
  .customer-logos__icon {}

/* $Testimonial
   ==================================== */

.testimonial {}
  .testimonial__container {}
  .testimonial__icon {}
  .testimonial__blockquote {}
  .testimonial__avatar {}
  .testimonial__author {}
  .testimonial__supporting-text {}

/* ou 
    .author__avatar {}
    .author__name {}
    .author__position {}
*/


/* $Breadcrumbs
   ==================================== */
/* $Dialog
   ==================================== */
/* $Side sheet
   ==================================== */
/* $Tabs
   ==================================== */


/* $Gallery
   ==================================== */

/*

Tester les images déjà redimensionnées
sinon, refaire au format 600px et 1500px

style image photo accueil

background: url(<path-to-image>), lightgray 50% / cover no-repeat;


background: url(<path-to-image>), lightgray 50% / cover no-repeat;

/*
image:hover

background: linear-gradient(0deg, rgba(0, 0, 0, 0.70) 0%, rgba(0, 0, 0, 0.70) 100%), url(<path-to-image>), lightgray 50% / cover no-repeat;

text centré sur photo
color: #FFF;
font-family: Michroma;
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: normal;

photo page about

border-radius: 0.5625rem;
background: url(<path-to-image>), lightgray 50% / cover no-repeat;

rectangle sous photo
background: #2C2E51;
width: 38.4375rem;
height: 25.8125rem;
flex-shrink: 0;


*/




/*
  ========================================
  $Pages
  ========================================
*/


/* $Home
   ==================================== */


/* $Contact
   ==================================== */



/*
  ========================================
  $Themes
  ========================================
*/

/* $Default theme
   ==================================== */


/* $Admin theme
   ==================================== */
