/*
  ========================================
  $Main
  ========================================
*/

/* 1...............................Base */
/* 2..............................Utils */
/* 3.............................Layout */
/* 4.........................Components */
/* 5..............................Pages */
/* 6.............................Themes */



/*
  ========================================
  $Base
  ========================================
*/

/* $Variables
   ==================================== */



/* $Reset & Normalize
   ==================================== */

html {
  box-sizing: border-box;
  font-size: 100%;
  text-size-adjust: none;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  color: var(--c-main);
  background-color: var(--b-main);  
} 


/* Inherit font on Form Elements for a Better Mobile Experience */
h1,
input,
button,
select,
textarea {
  font: inherit;
}

a,
button {
  all: unset;
  cursor: pointer;
}

a:link,
a:visited {
  color: currentColor;  /* A vérifier */
/*  color: var(--c-main);*/
}

/* Remove the outline on focused links */
a:hover,
a:active {
  color: var(--c-brand);
  outline-width: 0;     /* A vérifier */
}

/* Set font-size on Form Elements for a Better Mobile Experience
   To avoid mobile browsers from zooming in on HTML form elements
   when a <select> drop-down is tapped, add font-size to the selector
*/
input[type="text"],
input[type="number"],
select,
textarea {
  font-size: 16px;
}

ol, ul, menu {
  list-style: none;
}


/* Use SVG for icons */
.logo {
  background: url("logo.svg");
}

/* Maintain accessibility of SVG icon-only buttons for sighted users */
.no-svg .icon-only::after {
  content: attr(aria-label);
}


/* Style broken images */
img,
img::before,
img::after {
  display: block;
  font: inherit;
  max-width: 100%;
  vertical-align: middle;
  object-fit: cover;
  position: relative;
  text-align: center;
}

img::before {
  content: "We're sorry, the image below is broken :(";
}

img::after {
  content: "(url: " attr(src) ")";
}


/* Equal-width table cells */
.calendar {
  table-layout: fixed;
}

/* Hide autoplay videos that aren't muted */
video[autoplay]:not([muted]) {
  display: none;
}

/* Use Pointer Events to Control Mouse Events
   Pointer events allow you to specify how the mouse interacts
   with the element it's touching.
   To disable the default pointer event on a button */
button:disabled {
  opacity: .5;
  pointer-events: none;
}

/* Set display: none on line reaks used as spacing
   prevent CMS users from using extra line breaks for spacing: */
br + br {
  display: none;
}

/* removes spacing between cells in tables */
table {
    border-collapse: collapse;
}

P {
  text-align: justify;
}



/* $Typography rules
   ==================================== */

@font-face {
  font-family: "Manrope";
  src:
    local("Manrope Regular"),
    url("../assets/fonts/Manrope-Regular.otf");
}

@font-face {
  font-family: "Montserrat";
  src:
    local("Montserrat-Regular"),
    url("../assets/fonts/Montserrat-Regular.ttf");
}



/* Manrope

small-notes / pricing notes
color: #F9F8FF;
font-family: Manrope;
font-size: 0.625rem;	=> 0.75rem / 12px
font-style: normal;
font-weight: 400;
line-height: normal;

p--dark page-about
color: #F9F8FF;
font-family: Manrope;
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: normal;

h-services--dark page-about
color: #F9F8FF;
font-family: Manrope;
font-size: 1.25rem;
font-style: normal;
font-weight: 400;
line-height: normal;

h--light / portfolio-page > paysages
color: #000;
font-family: Manrope;
font-size: 1.875rem;
font-style: normal;
font-weight: 400;
line-height: normal;

Nav--light
color: #242424;
font-family: Manrope;
font-size: 1.125rem;
font-style: normal;
font-weight: 400;
line-height: normal;

label form
color: #F9F8FF;
font-family: Manrope;
font-size: 1.125rem;
font-style: normal;
font-weight: 400;
line-height: normal;

p--dark
color: #F9F8FF;
font-family: Manrope;
font-size: 1.25rem;
font-style: normal;
font-weight: 400;
line-height: normal;


*/

/* Montserrat


h1
color: #A5B4FC;
font-family: Montserrat;
font-size: 3.4375rem;
font-style: normal;
font-weight: 400;
line-height: normal;


color: #A5B4FC;
font-family: Montserrat;
font-size: 3.4375rem;
font-style: normal;
font-weight: 400;
line-height: normal;


h2--light
color: #1F2039;
text-align: center;
font-family: Montserrat;
font-size: 2.1875rem;
font-style: normal;
font-weight: 400;
line-height: normal;

h2--dark / page-pricing > studio pro
color: #A5B4FC;
text-align: center;
font-family: Montserrat;
font-size: 2.1875rem;
font-style: normal;
font-weight: 400;
line-height: normal;

h3--dark / pricing items
color: #A5B4FC;
font-family: Montserrat;
font-size: 1.25rem;
font-style: normal;
font-weight: 400;
line-height: normal;

button
color: #FFF;
font-family: Montserrat;
font-size: 1.0625rem;			/*!
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: uppercase;

harmoniser tous les paragraphes à 1rem
1.25 pour les titres de tableau / menu

titre tableau tarifs
color: #FFF;
font-family: Montserrat;
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: normal;


*/




:root {
/* Text */
  --font:      'Manrope', sans-serif;
  --font-size-s: clamp(0.8rem, 0.17vw + 0.76rem, 0.89rem);
  --font-size-p: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
  --font-size-h4: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
  --font-size-h3: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
  --font-size-h2: clamp(1.95rem, 1.56vw + 1.56rem, 2.81rem);
  --font-size-h1: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
  --font-size-b: clamp(3.05rem, 3.54vw + 2.17rem, 5rem);

}

body {
  font-family: var(--font);
  font-size: var(--f-size-p);
  font-weight: 300;
}
.heading-1  {font-size: var(--f-size-h1);}
.heading-2  {font-size: var(--f-size-h2);}
.heading-3  {font-size: var(--f-size-h3);}
.heading-4  {font-size: var(--f-size-h4);}
.t--small   {font-size: var(--f-size-s);}
.t--big     {font-size: var(--f-size-b);}




/*
  ========================================
  $Utils
  ========================================
*/

/* $Functions
   ==================================== */


/* $Mixins
   ==================================== */


/* $Helpers
   ==================================== */

/*
  ========================================
  $Layout
  ========================================
*/


/* $Grid system
   ==================================== */

/*

3 colonnes
gutters min max 20px 50px
nav grid center auto



/* nav (header / footer)
.screen--large {
	padding: 0 3rem;
}

.scren--main {
	padding: min 2.10rem max 12.5rem;
}

/* contact-form
.screen--inner {
	min-width: 15.8125rem;
	max-width: 32.8125rem;
}


portfolio__item
with min: 19rem;



grid--full 	header--d - footer--d
padding-left: 3rem;
padding-right:4.5rem;


section-about--m
padding-left: 2.75rem;
padding-right:2.75rem;
	--d: 12.38rem;
	+ padding

section-projects--m
padding-left: 2.19rem;
padding-right:2.19rem;
	--d: 13.38rem;
	gap: 1rem;


section-contact--m
padding-left: 3.81rem;
padding-right:3.81rem;
	--d: centré;
	width:32.8125rem
	-gap: 1.20rem;

section-pricing--m
padding-left: 3rem;
padding-right:3.06rem;

page-pricing--d
padding-left: 12.5rem;
padding-right:12.5rem;
container: 65rem;
*/





/* $Header
   ==================================== */

.section-header {
}
  .section-header__headline {}

.section-header--sticky {
  position: sticky;
  top: 0;
}


/* $Footer
   ==================================== */

.section-footer {
}
  .section-footer__headline {}


/* $Sidebar
   ==================================== */

.section-sidebar {}


/* $Forms
   ==================================== */

.panel-form {}


/*
  ========================================
  $Components
  ========================================
*/


/*.panel {}
  .panel__headline {}

/* Card
.card {}
  .card__container {}
  .card__details {}
  .card__headline {}
  .card__subhead {}
  .card__supporting-text {}
  .card__image {}
  .card__button {}
  .card__link {}
/* Used for: feature-list ; team ; pricing ; location */

/* Revoir les dimensions précises et créer des helpers : en vw ?
.card--1-3 {width: 33%;}
.card--3-1 {width: 66%;}*/



/* $Buttons
   ==================================== */





/* $Carousel
   ==================================== */

.carousel {}
  .carousel__container {}
  .carousel__item {}
    .carousel__item--small {}
    .carousel__item--medium {}
    .carousel__item--large {}

/* Implement CSS-only sliders using max-height with overflow hidden */
.slider {
  max-height: 200px;
  overflow-y: hidden;
  width: 300px;
}

.slider:hover {
  max-height: 600px;
  overflow-y: scroll;
}


/* $Menu
   ==================================== */

.menu {}
  .menu__container {}
  .menu__list-item {}


/* $Cover (Hero)
   ==================================== */

.panel-hero {}
  .hero__container {}
  .hero__headline {}
  .hero__subhead {}
  .hero__supporting-text {}
  .hero__image {}
  .hero__button {}
  .hero__link {}


/* $Dropdown
   ==================================== */


/* $Navigation
   ==================================== */

/*
color: #242424;
font-family: Manrope;
font-size: 1.125rem;
font-style: normal;
font-weight: 400;
line-height: normal;

*/


/* Appbar */
.appbar {}
  /* .appbar__container {} */
  .appbar__logo {}    /* or appbar__brand */
  .appbar__icon {}
  .appbar__toggler {}
  .appbar__label {}
    .appbar__label:link {}
    .appbar__label:visited {}
    .appbar__label:hover {}
    .appbar__label:active {}

/*ou dropdown-menu ou mega-menu*/
.mega-dropdown {}



/* $List
   ==================================== */

.list {}
  .list__container {}
  .list__headline {}
  .list__supporting-text {}
  .list__image {}
  .list__icon {}
  .list__avatar {}


/* $Text field
   ==================================== */

.text-field {}
  .text-field__container {}
  .text-field__icon {}
  .text-field__label-text {}
  .text-field__input-text {}
  .text-field__supporting-text {}


/* $Search bar
   ==================================== */

.searchbar {}
  .searchbar__container {}
  .searchbar__icon {}
  .searchbar__label-text {}
  .searchbar__input-text {}
  .searchbar__supporting-text {}


/* $CTA
   ==================================== */

.panel-cta {}
  .panel-cta__headline {}
  .panel-cta__link {}
    .panel-cta__link:link {}
    .panel-cta__link:visited {}
    .panel-cta__link:hover {}
    .panel-cta__link:active {}


/* $Dropdown
   ==================================== */

.panel-feature {}
  .card__image {}
  .card__headline {}
  .card__subhead {}
  .card__supporting-text {}


/* $Social media
   ==================================== */

.panel-socials {}
  .card-social {}
    .card-social:link {}
    .card-social:visited {}
    .card-social:hover {}
    .card-social:active {}
    .card-social__icon {}




/* $Sitemap
   ==================================== */

.sitemap-links {}
  .sitemap-links__headline {}
  .sitemap-links__link:link {}  /* ou label */
  .sitemap-links__link:visited {}
  .sitemap-links__link:hover {}
  .sitemap-links__link:active {}


/* $Dropdown
   ==================================== */

.customer-logos {}
  .customer-logos__container {}
  .customer-logos__headline {}
  .customer-logos__icon {}

/* $Testimonial
   ==================================== */

.testimonial {}
  .testimonial__container {}
  .testimonial__icon {}
  .testimonial__blockquote {}
  .testimonial__avatar {}
  .testimonial__author {}
  .testimonial__supporting-text {}

/* ou 
    .author__avatar {}
    .author__name {}
    .author__position {}
*/


/* $Breadcrumbs
   ==================================== */
/* $Dialog
   ==================================== */
/* $Side sheet
   ==================================== */
/* $Tabs
   ==================================== */


/* $Gallery
   ==================================== */

/*

Tester les images déjà redimensionnées
sinon, refaire au format 600px et 1500px

style image photo accueil

background: url(<path-to-image>), lightgray 50% / cover no-repeat;


background: url(<path-to-image>), lightgray 50% / cover no-repeat;

/*
image:hover

background: linear-gradient(0deg, rgba(0, 0, 0, 0.70) 0%, rgba(0, 0, 0, 0.70) 100%), url(<path-to-image>), lightgray 50% / cover no-repeat;

text centré sur photo
color: #FFF;
font-family: Michroma;
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: normal;

photo page about

border-radius: 0.5625rem;
background: url(<path-to-image>), lightgray 50% / cover no-repeat;

rectangle sous photo
background: #2C2E51;
width: 38.4375rem;
height: 25.8125rem;
flex-shrink: 0;


*/




/*
  ========================================
  $Pages
  ========================================
*/


/* $Home
   ==================================== */


/* $Contact
   ==================================== */



/*
  ========================================
  $Themes
  ========================================
*/

/* $Default theme
   ==================================== */


/* $Admin theme
   ==================================== */
