/*
  ========================================
  $Main
  ========================================
*/

/* 1...............................Base */
/* 2..............................Utils */
/* 3.............................Layout */
/* 4.........................Components */
/* 5..............................Pages */
/* 6.............................Themes */



/*
  ========================================
  $Base
  ========================================
*/

/* $Variables
   ==================================== */

:root {

/* Colors: default--theme--dark */
  --c-brand: #a5b4fc;     /* Highlight & headings */
  --c-main: #f9f8ff;      /* body */
  --b-main: #1f2039;      /* body */
/* Colors: theme--light */
  --c-t--light:#242424;   /* header & footer */
  --b-t--light:#fff;      /* header & footer */

/* Text */
  --f-size-s: clamp(0.8rem, 0.17vw + 0.76rem, 0.89rem);
  --f-size-p: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
  --f-size-h4: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
  --f-size-h3: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
  --f-size-h2: clamp(1.95rem, 1.56vw + 1.56rem, 2.81rem);
  --f-size-h1: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
  --f-size-b: clamp(3.05rem, 3.54vw + 2.17rem, 5rem);

}


/* $Reset & Normalize
   ==================================== */

html {
  box-sizing: border-box;
  font-size: 100%;
  text-size-adjust: none;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  color: var(--c-main);
  background-color: var(--b-main);
} 

/* Inherit font on Form Elements for a Better Mobile Experience */
h1,
input,
button,
select,
textarea {
  font: inherit;
}

a,
button {
  all: unset;
  cursor: pointer;
}

.navbar a:link,
.navbar a:visited {
  border-bottom: 1px solid transparent;
  color: var(--c-t--light);
}

/* Remove the outline on focused links */
.navbar a:hover,
.navbar a:active,
.navbar a.active {
	border-bottom: 1px solid var(--b-main);
}


/* $Typography rules
   ==================================== */

@font-face {
  font-family: "Manrope";
  src:
    local("Manrope Regular"),
    url("../assets/fonts/Manrope-Regular.otf");
}

@font-face {
  font-family: "Montserrat";
  src:
    local("Montserrat-Regular"),
    url("../assets/fonts/Montserrat-Regular.ttf");
}


body {
	font-family: 'Manrope', sans-serif;
  font-size: var(--f-size-p);
}

.button-contact {
	font-family: 'Montserrat', sans-serif;
}


.heading-1  {font-size: var(--f-size-h1);}
.heading-2  {font-size: var(--f-size-h2);}
.heading-3  {font-size: var(--f-size-h3);}
.heading-4  {font-size: var(--f-size-h4);}
.t--small   {font-size: var(--f-size-s);}
.t--big     {font-size: var(--f-size-b);}




/*
  ========================================
  $Utils
  ========================================
*/

/* $Functions
   ==================================== */


/* $Mixins
   ==================================== */


/* $Helpers
   ==================================== */

 /* Light theme */
.theme--light {
	color: var(--c-t--light);
	background-color: var(--b-t--light);
}



/*
  ========================================
  $Layout
  ========================================
*/


/* $Global
   ==================================== */

/* header & footer */
.screen--large {
  padding: clamp(1.5rem, 1.75vw, 1.75rem) clamp(1rem, 3vw, 3rem);
}

/* main content */
.screen--main {
	display: grid;
	grid-template-columns: 
		minmax(1.75rem, 1fr) 
		minmax(0, 65rem) 
		minmax(1.75rem, 1fr);
}

	.item--full {
		grid-column: 1 / -1;
	}

	.item--main {
		grid-column: 2 / -2;
	}


/* contact form */
.screen--small {
	max-width: 32rem;
}


.grid--auto {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(min(20rem, 100%), 1fr));
	gap: 2rem;
}


.panel-cover {
	padding: clamp(4rem, 7vw, 9rem) 0;
}

.section-services,
.section-studio {
	padding-bottom: 5.3rem;
}


/* $Grid system
   ==================================== */

/* $Header
   ==================================== */

.section-header,
.section-footer,
.navbar,
.panel-cover {
	display: flex;
	justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

/* Mobile first takes more code */
@media screen and (width <= 35rem) {
	.social {
		display: flex;
	}
	.section-header,
	.section-footer,
	.navbar,
	.panel-cover,
	.social {
		flex-direction: column;
	}
		.navbar a,
		.button-contact {
			margin-top: 1.25rem;
		}
		.social__item {
			margin-top: 2.15rem;
		}
}

@media screen and (width >= 35rem) {
	.navbar {
		gap: 0 clamp(3rem, 5vw, 8rem);		
	}
		.social__item:last-child {
			padding-left: 1.8rem;
		}	
}


/* $Footer
   ==================================== */

.section-footer {
}
  .section-footer__headline {}


/* $Sidebar
   ==================================== */

.section-sidebar {}


/* $Forms
   ==================================== */

.panel-form {}



/*
  ========================================
  $Components
  ========================================
*/

/* $Cover
   ==================================== */






/* $Button
   ==================================== */

.button-contact {
	display: inline-block;		/* test pour bouton form */
	text-transform: uppercase;
	padding: 1.3125rem 2.375rem;
	background: linear-gradient(180deg, #8E86B5 0%, #ACAEED 100%);
	border-radius: 3.125rem;
}

.button-contact:hover,
.button-contact:focus {
	background: linear-gradient(180deg, #696484 0%, #8788BA 100%);
}



/* $Services
   ==================================== */

.card-services {
	border-bottom: 1px var(--c-brand) solid;
	border-right: 1px var(--c-brand) solid;
	padding: 0 2rem 3rem 0;
}


/* $Table
   ==================================== */

table {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}

table caption {
  margin-bottom: 2.38rem;
  text-align: left;
}

table th {
	color: #fff;
	padding: 0.5rem;
}

table td {
  border: 1px solid #A5B4FC;
}

table tr,
table td {
  padding: clamp(1rem, 2vw, 2.75rem);
}

@media screen and (width <= 44rem) {
  table thead {
    overflow: hidden;
    position: absolute;
    width: 1px;
  }
  table tr {
    display: block;
    margin-bottom: 1.5rem;
  }
  table td {
    display: block;
    text-align: right;
  }
  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-size: var(--f-size-h4);
  }
 }

@media screen and (width >= 44rem) {
 table,
 table tr {
  border: 1px solid #A5B4FC;
	}
	table td {
		line-height: 2rem;
	}
}



